@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

a{
    color:brown
}

header{
    background-color: #F989B1;
    height: 151px;
    padding-top: 20px;
    
}

.container-grid{
    width: 85%;
    margin: 0 auto;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color:white;
    text-decoration: none;
    font-size: 29px;
    
}

.LogoPrincipal{
    width: 420px;
    height: 100px;

}

.menu{
    width: 700px;
    display: flex;
    justify-content: space-between;

}

.banner{
    height: 610px;
    width: 1879px;
    background-image: url(../img/pocketim\ banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conteudo-banner h1{
    color: white;
    font-size: 95px;
}
.conteudo-banner p{
    color: white;
    font-size: 36px;
    padding: 5px 0 10px 30px;
}
.conteudo-banner a{
    padding: 15px;
    background-color: #F989B1;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 5px;
}

.conteudo-banner{
    width: 497px;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
   
}

.posicionamento-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 210px;
    padding-left: 200px;
    
}

body{
    background-color: #FFD4E9;
}

.posicionamento-quadro{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}